Package: se3-clients-linux
Version: 2.1.0
Section: misc
Priority: optional
Architecture: all
Depends: se3-domain, se3-logonpy (>>2.3.7216)
Maintainer: François Lafont <francois.lafont@ac-versailles.fr>
Homepage: https://github.com/flaf/se3-clients-linux
Description: To support Linux clients integration in a Se3 domain
 To support Linux clients integration in a SambaEdu3 domain.
 The goal is to support Debian distributions and LTS Ubuntu
 distributions.

