#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[fr_FR]=/opt/processing/lib/icons/pde-64.png
Name[fr_FR]=processing
Exec=bash /opt/processing/processing
Name=processing
Icon=/opt/processing/lib/icons/pde-48.png
